/* Entire document */

body {
  background-color: lightsalmon;
  font-family: 'Times New Roman', Times, serif;
}


/* Header */

header {
  background-color: #444;
  height: 100px;
  border: 3px solid white;
}

header nav {
  width: 960px;
  margin: auto;
}

header span {
  display: inline-block;
  line-height: 100px;
  margin-left: 100px;
}

header a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Main */

main {
  width: 960px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
  color: rgb(116, 74, 59);
}

#locationshours {
  background-color: rgb(252, 202, 182);
  text-align: center;
  padding: 10px; 
  font-size: 18px;
}

main div h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.table {
  display: table;
  margin: 0 auto;
}

ul#horizontal-images {
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-images li {
  display: inline;
}

#family {
  display: inline;
  margin: auto;
}

#table {
  border: 3px solid black;
}

#table td:last-child {
  background-color: rgb(250, 195, 173);
}

#footer {
  background-color: rgb(250, 195, 173);
}

#table th:first-child {
  background-color: lightsalmon;
}

tr, td {
  padding: 15px;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(1, 1, 88)
}

th {
  padding: 15px;
  border: 1px solid black;
  font-weight: bold;
}

#container {
  padding: 25px;
  margin: auto;
}

fieldset {
  padding-top: 25px;
  margin: auto;
  line-height: 25px;
}

fieldset label {
  display: block;
}

legend {
  background-color: black;
  color: white;
  padding: 5px;
}

li img {
  margin: 15px;
}

#firstsection article {
  width: 47%;
  float: right;
  padding-left: 10px;
  line-height: 20px;
}

#firstsection article cite {
  font-style: italic;
}

#firstsection article h2 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

#firstsection img {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 50px;
}

#largesalmon {
  margin: auto;
  padding-top: 20px;
  padding-left: 85px;
  padding-bottom: 25px;
}

#secondsection {
  background-color: rgb(252, 202, 182);
  padding-bottom: 10px;
}

#fishposter {
  width: 50%;
  padding-left: 225px;
}

#posterblurb {
  text-align: center;
  font-size: 18px;
}

#fishshirt {
  width: 50%;
  padding-top: 30px;
  padding-left: 225px;
}

#shirtblurb {
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
}

#secondsection h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
}

/* Footer */

footer {
  background-color: #444;
  height: 75px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

footer nav {
  vertical-align: center;
  color: rgb(163, 162, 162);
}